// Main Background Color
html, body {
    background-color: #36393f !important;
}

// Page Headers Color
h1, h2, h3 {
    color: #fff !important;
}

// Sidebar Background Color
.sidebar {
    background-color: #32353b !important;
    border-color: darken(#32353b, 20%) !important;
}

// Navbar Background Color
.navbar {
    background-color: #2b2e32 !important;
    border: 0px !important;

    // Navbar Item Background Color
    .links {
    background-color: #2b2e32 !important;
    }
}

// Navbar Dropdown Colors
.dropdown-wrapper .nav-dropdown {
    background-color: #32353b !important;
    border: 2px solid !important;
    border-color: darken(#2b2e32, 20%) !important;

    // Navbar Dropdown Header Colors
    .dropdown-item h4 {
        border-color: darken(#313339, 20%) !important;
        color: #fff !important;
    }
}

// Search Bar Colors
.search-box {
    input {
        color: #fff !important;
        background-color: black !important;
        border: 2px solid !important;
        border-color: darken(#2b2e32, 20%) !important;
        }

    // Search Bar Suggestions Colors
    .suggestions {
        background-color: #32353b !important;
        border: 2px solid !important;
        border-color: darken(#2b2e32, 20%) !important;
    }

    .suggestion.focused {
        background-color: #2b2e32 !important;
    }
}

// Gets rid of the code-copy extra space.
.code-copy {
    height: 0 !important;
}

// Multi-line Code Block Settings
.theme-default-content {
    code {
        color: #ffffffbf !important;
        background-color: #2b2e33 !important;
    }

    pre {
        border: 2px solid !important;
        border-color: rgba(0, 0, 0, 0.1) !important;
        border-radius: 3px !important;
        position: static !important;
        flex-wrap: wrap !important;
    }
}

// Example Dropdown Setting
.custom-block.details {
    background-color: #33363c !important;
    border: 1px solid !important;
    border-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 5px !important;
    padding-bottom: 0.8em !important;
    padding-top: 0.8em !important;

    // Clickable Size Area
    summary {
        color: #fff !important;
        padding-bottom: 0.8em !important;
        padding-top: 0.8em !important;
    }
}